
  <label for="question">Question:</label>
  <input type="text" name="question" value="" placeholder="Enter Question">

  <label for="answer">Answer:</label>
  <input type="text" name="answer" value="" placeholder="Enter Answer">
  <input type="submit" name="submit" value="Add Card">
