<h3>{{deck.topic}}</h3>
<a href="/decks/{{deck._id}}/edit">Edit</a>
<form class="" action="/decks/{{deck._id}}/card" method="post">
{{>_card-form}}
</form>

{{#deck.cards}}
<p>{{question}}</p>
<p>{{answer}}</p>
{{/deck.cards}}
