<a href="/logout">logout</a>

<form class="" action="/decks" method="post">
  {{>_deck-form}}
</form>


<!-- {{#decks}}
<a href="/decks/{{_id}}">{{topic}}</a>
{{/decks}} -->
<!-- <script src="/js/html.js" charset="utf-8"></script> -->
<script src="/js/client.js" charset="utf-8"></script>
