<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
    <a href="/"><h1>Flipcards</h1></a>
    </header>

<div class="decks">
      {{{yield}}}
</div>


  </body>
</html>
