<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
    <a href="/decks"><h1>Flipcards</h1></a>
    </header>

    {{{yield}}}

  </body>
</html>
