<a href="/register">Sign Up</a>

<form class="login" action="login" method="post">

  <div class="loginInput">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="" placeholder="Enter Username">
  </div>
  {{userError}}
  <div class="loginInput">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" value="" placeholder="Enter Password">
  </div>

  <input type="submit" name="login" value="Login!">

</form>
